.admin-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to right, #c87af5, #ff7eb3); /* Matching HomePage */
    color: white;
  }
  
  .admin-login h2 {
    font-size: 26px;
    margin-bottom: 15px;
    font-weight: bold;
  }
  
  .admin-login input {
    padding: 12px;
    margin: 10px 0;
    width: 280px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .admin-login button {
    padding: 12px 24px;
    background-color: white;
    color: #ff758c;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
  }  